<div class="z_pandun_if">
    <div class="fr mt20 mr10 mb20" ng-click="panduan()">
        <div class="fl">
            <div class="fl mt5"><input type="checkbox" ng-checked="panduanxuanzhong"/></div>
            <div class="fl f14 oranger-color">启用</div>
        </div>
        <div class="fl ml10">
            <div class="fl mt5"><input type="checkbox" ng-checked="!panduanxuanzhong"/></div>
            <div class="fl f14">禁用</div>
        </div>
    </div>
    <input type="text" ng-hide="true" class="z_jys_if" value="strEnabled" ng-model="strEnabled"/>
</div>