<!--活动-充值赠送  -->
<div class="right-content-main">
    <div class="right-content-header">
        <div class="right-content-header-left-info fl"><a href="/admin/page/homepage">{{strMerchantname}}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;<a href="/admin/page/membercente">服务</a>&nbsp;&nbsp; >> &nbsp;&nbsp;<a>服务类型</a></div>
        <div class="right-content-header-right-info fr">
            <!-- <a class="small-btn fl">导入</a><a class="small-btn fl">导出</a> -->
            <a class="small-btn small-btn-primary fl" ng-click="newExpandinginfo()">新增</a>
        </div>
        <div class="clearfix"></div>
    </div>
	<!--页面展示-->
	<div class="ml30 clearfix mt5">
		<div class="fl zjl_cg_se">
			<div class="fl">会员级别</div>
			<div class="fl">
                <select ng-model="VipGrade" ng-change="saixuanVip()" ng-options="memberlevelsEntityList.strLevelsid as memberlevelsEntityList.strLevelsname for memberlevelsEntityList in memberlevelsEntityList">
                    <option  value="">全部</option>
                </select>
			</div>
		</div>
		<div class="fl zjl_cg_se ml5">
			<div class="fl">活动状态</div>
			<div class="fl">
                <select ng-model="actStatus"  ng-change="saixuanStu()" ng-options="actiStatus.id as actiStatus.name for actiStatus in actiStatus">
                    <option  value="">全部</option>
                </select>
            </div>
		</div>
	</div>

    <div class="merchant-info-container">
        <table class="list-table">
            <tr>
                <th>序号</th>
                <th>赠送类型</th>
                <th>会员级别</th>
                <th>活动开始时间</th>
                <th>活动截止时间</th>
                <th>积分</th>
                <th>储值</th>
                <th>抵用券</th>
                <th>活动状态</th>
                <th class="w40">操作</th>
            </tr>
            <tr ng-repeat='resultMap in resultMap'>
                <td>{{$index+(currentPage-1)*pageSize+1}}</td>
                <td>{{resultMap.strActivityName}}</td>
                <td>{{resultMap.strMemberLevelName	 }}</td>
                <td>{{resultMap.strActivityBeginTime}}</td>
                <td>{{resultMap.strActivityEndTime}}</td>
                <td>
                    <img src="/static/images/gougou.png" class="w20 h20" ng-if="(resultMap.listRechargePresentsIntegrationEntity)[0].iEnabled"/>
                </td>
                <td>
                    <img src="/static/images/gougou.png" class="w20 h20" ng-if="(resultMap.listRechargePresentsStoredValueEntity)[0].iEnabled"/>
                </td>
                <td>
                    <img src="/static/images/gougou.png" class="w20 h20" ng-if="(resultMap.listRechargePresentsVoucherEntity)[0].iEnabled"/>
                </td>
                <td>{{resultMap.strActivityStatus}}</td>
                <td>
                    <div class="-lpy-list-control">
                        <div class="-lpy-list-control-title" ng-mouseout="openCtrMenu($index,'out')" ng-mouseover="openCtrMenu($index,'over')">
                            操作

                            <ul ng-show="isShowListMenu[$index]">
                                <li><a ng-click="updataExpand(resultMap.strActivityId)">修改</a></li>
                                <li><a ng-click="delectExpand(resultMap.strActivityId,resultMap.strActivityName)">删除</a></li>
                                <!-- <li><a>修改2</a></li> -->
                            </ul>
                        </div>

                    </div>

                </td>

            </tr>
        </table>
        <div class="bottom-pager" >
            <pager class="fr"  page-count="pageCount"  current-page="currentPage" on-page-change="onPageChange()" first-text="首页" next-text=">" prev-text="<" last-text="尾页"  goto-text="跳转"></pager>
            <div class="clearfix"></div>
        </div>
    </div>


    <!--模态框-->
    <div class="-lpy-mengban"  ng-show="showExpandInfoWindow"></div>
    <div class="-lpy-big-alert-window w650" ng-show="showExpandInfoWindow">
        <div class="-lpy-big-alert-window-title">
            <div  ng-switch="isAddNewExpand">
                <div class="fl" ng-switch-default>新增充值赠送</div>
                <div class="fl" ng-switch-when="false">修改充值赠送</div>
            </div>
            <div class="fr  close_btn" ng-click="clostExpandWindow()">x</div>
        </div>
        <div class="-lpy-alert-window-main-content ">

            <div class="-lpy-edit-staff-content">

                <form  name="memberexpandinformationEntityForm" ng-submit="submitExpandinfoAll()">
                    <div class="form-container">
                        <!--会员级别部分-->
                        <div class="w500 ml50 clearfix zjl_recharge_bdbm pb10 pl10">
                            <div class="mt10 fl w200">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 会员卡级别：
                                <select ng-model="rechargePresentsActivityEntity.strLevelsId" ng-change="saixuanVip()" ng-options="memberlevelsEntityList.strLevelsid as memberlevelsEntityList.strLevelsname for memberlevelsEntityList in memberlevelsEntityList" required>
                                    <option  value="">全部</option>
                                </select>
                            </div>

                            <div class="mt10 fl ml50">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 赠送类型：
                                <input type="text" class="w100" ng-value="rechargePresentsActivityEntity.strActivityName" name="strInformationname1"   ng-model="rechargePresentsActivityEntity.strActivityName" ngTrim="true" ng-maxlength="20" required/>
                            </div>


                            <div class="mt10 fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 活动起止时间：
                                <input type="date" class="w120" ng-value="rechargePresentsActivityEntity.strActivityBeginTime| date:'yyyy-MM-dd'"name="strInformationname2"   ng-model="rechargePresentsActivityEntity.strActivityBeginTime" ngTrim="true"  required/>
                                至
                                <input type="date" class="w120"  ng-value="rechargePresentsActivityEntity.strActivityEndTime| date:'yyyy-MM-dd'" name="strInformationname3"   ng-model="rechargePresentsActivityEntity.strActivityEndTime" ngTrim="true"  required/>

                            </div>

                        </div>
                        <!--积分部分-->
                        <div>
                            <div class="w500 ml50 clearfix zjl_recharge_bdbmx pr10 mb5">
                                <div class="fl">积分</div>
                                <div class="fr -mr10">
                                    <input type="text" ng-hide="true"  ng-value="listRechargePresentsIntegrationEntity[0].strActivityId" class="z_id_if_flx"/>
                                    <input type="text" ng-hide="true" ng-value="panduanxuanzhong = (listRechargePresentsIntegrationEntity[0].iEnabled)" ng-model="panduanxuanzhong"/>
                                    <input type="text" ng-hide="true" ng-value="listRechargePresentsIntegrationEntity.strEnabledsssId = strEnabledsss" ng-model="strEnabledsss"/>
                                    <integralrules-Directive></integralrules-Directive>
                                </div>
                            </div>
                            <div class="w500 ml50 clearfix zjl_recharge_bdbm pb10 pl10">
                                <div class="fl mt10 w200">
                                    <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 每充值</div>
                                    <div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="listRechargePresentsIntegrationEntity.dPerTimeRechargeAmount" ng-value="listRechargePresentsIntegrationEntity[0].dPerTimeRechargeAmount"   name="strInformationname6" ngTrim ng-maxlength="7" required/><span class="fr mr5">元</span></div>
                                    <div class="fl">赠送1积分</div>
                                </div>
                                <div class="fl mt10 w250 ml50">
                                    <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 最低充值</div>
                                    <div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="listRechargePresentsIntegrationEntity.dLeastRechargeAmount" ng-value="listRechargePresentsIntegrationEntity[0].dLeastRechargeAmount"   name="strInformationname7" ngTrim ng-maxlength="7" required/><span class="fr mr5">元</span></div>
                                    <div class="fl">可赠送积分</div>
                                </div>
                            </div>
                            <!--<div >-->
                                <!--<div class="w500 ml50 clearfix zjl_recharge_bdbm pb10 pl10" ng-if="!listRechargePresentsIntegrationEntity[0]">-->
                                    <!--<div class="fl mt10 w200">-->
                                        <!--<div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 每充值</div>-->
                                        <!--<div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="listRechargePresentsIntegrationEntity.dPerTimeRechargeAmount" ng-value="listRechargePresentsIntegrationEntity.dPerTimeRechargeAmount"   name="strInformationname4" ngTrim ng-maxlength="7" required/><span class="fr mr5">元</span></div>-->
                                        <!--<div class="fl">赠送1积分</div>-->
                                    <!--</div>-->
                                    <!--<div class="fl mt10 w250 ml50">-->
                                        <!--<div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 最低充值</div>-->
                                        <!--<div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="listRechargePresentsIntegrationEntity.dLeastRechargeAmount" ng-value="listRechargePresentsIntegrationEntity.dLeastRechargeAmount"   name="strInformationname5" ngTrim ng-maxlength="7" required/><span class="fr mr5">元</span></div>-->
                                        <!--<div class="fl">可赠送积分</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>

                        <!--储值券部分-->
                        <div class="zjl_recharge_bdbm w500 ml50 pr10 mb5">
                            <div>
                                <div class="w500  clearfix zjl_recharge_bdbmx pr10 mb5">
                                    <div class="fl">储值</div>
                                    <!--随便两个字符，保证不能为空-->
                                    <input type="text" ng-hide="true"  ng-value="listRechargePresentsStoredValueEntityCzq[0].panduanweikongxinas = 0" class="z_id_if_flx"/>
                                    <input type="text" ng-hide="true"  ng-value="listRechargePresentsStoredValueEntity[0].panduanweikongxinas = 0" class="z_id_if_flx"/>

                                    <div class="fr -mr10" ng-repeat="listRechargePresentsStoredValueEntityCzq in listRechargePresentsStoredValueEntityCzq">
                                        <input type="text" ng-hide="true"  ng-value="listRechargePresentsStoredValueEntityCzq.strActivityId" class="z_id_if_flx"/>
                                        <input type="text" ng-hide="true" ng-value="panduanxuanzhong = (listRechargePresentsStoredValueEntityCzq.iEnabled)" ng-model="panduanxuanzhong"/>
                                        <input type="text" ng-hide="true" value="{{(listRechargePresentsStoredValueEntity[0].strEnabledsssId) = strEnabledsss}}" ng-model="strEnabledsss"/>
                                        <integralrules-Directive></integralrules-Directive>
                                    </div>
                                </div>
                                <div class="w500  clearfix zjl_recharge_bdbmx pb10 pl10"  ng-repeat="listRechargePresentsStoredValueEntity in listRechargePresentsStoredValueEntity">
                                    <div class="fl mt10 w200">
                                        <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 现金充值</div>
                                        <div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="listRechargePresentsStoredValueEntity.dRechargeAmount" ng-value="listRechargePresentsStoredValueEntity.dRechargeAmount"   name="strInformationname8" ngTrim ng-maxlength="7" required/><span class="fr mr5">元</span></div>
                                        <!--<div class="fl">赠送1积分</div>-->
                                    </div>
                                    <div class="fl mt10 w250 ml50">
                                        <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 赠送储值</div>
                                        <div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="listRechargePresentsStoredValueEntity.dPresentsAmount" ng-value="listRechargePresentsStoredValueEntity.dPresentsAmount"   name="strInformationname9" ngTrim ng-maxlength="7" required/><span class="fr mr5">元</span></div>
                                        <!--加减号-->
                                        <div class="fr f20 oranger-color mr10">
                                            <div class="fl -lpy-list-control-title" ng-click="z_delete(listRechargePresentsStoredValueEntity.strPresentsStoredValueId,listRechargePresentsStoredValueEntity.strActivityId,$index,listRechargePresentsStoredValueEntity.dRechargeAmount)">-</div>
                                            <div class="fl ml10 -lpy-list-control-title" ng-click="addStoreCz($index,listRechargePresentsStoredValueEntity.strActivityId)">+</div>
                                        </div>
                                    </div>
                                </div>
                                <!--储值券为空判断-->
                                <!--<div class="w500  clearfix zjl_recharge_bdbmx pb10 pl10" ng-if="!listRechargePresentsStoredValueEntity[0]">-->
                                    <!--<div class="fl mt10 w200">-->
                                        <!--<div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 现金充值</div>-->
                                        <!--<div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="chuzhiweikong.dRechargeAmount" ng-value="chuzhiweikong.dRechargeAmount"   name="strInformationname10" ngTrim ng-maxlength="7" required/><span class="fr mr5">元</span></div>-->
                                        <!--&lt;!&ndash;<div class="fl">赠送1积分</div>&ndash;&gt;-->
                                    <!--</div>-->
                                    <!--<div class="fl mt10 w250 ml50">-->
                                        <!--<div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 赠送储值</div>-->
                                        <!--<div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="chuzhiweikong.dPresentsAmount" ng-value="chuzhiweikong.dPresentsAmount"   name="strInformationname11" ngTrim ng-maxlength="7" required/><span class="fr mr5">元</span></div>-->
                                        <!--&lt;!&ndash;加减号&ndash;&gt;-->
                                        <!--<div class="fr f20 oranger-color mr10">-->
                                            <!--<div class="fl -lpy-list-control-title" ng-click="z_delete(chuzhiweikong.strSignId)">-</div>-->
                                            <!--<div class="fl ml10 -lpy-list-control-title" ng-click="addStoreCz($index)">+</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>


                        <!--<div>-->
                            <!--&lt;!&ndash;<form action="" ng-submit="addStoreCz()">&ndash;&gt;-->
                            <!--<div class="fr f20 oranger-color mr10">-->
                                <!--<div class="fl -lpy-list-control-title" ng-click="z_delete(chuzhiweikong.strSignId)">-</div>-->
                                <!--<div class="fl ml10 -lpy-list-control-title" ng-click="addStoreCz()">+</div>-->
                            <!--</div>-->
                            <!--<div class="w500  clearfix zjl_recharge_bdbmx pr10 mb5">-->
                                <!--<div class="fl">储值</div>-->
                                <!--<div class="fr -mr10">-->
                                    <!--<input type="text" ng-hide="true"  ng-value="chuzhiweikong.strActivityId" class="z_id_if_flx"/>-->
                                    <!--<input type="text" ng-hide="true" ng-value="panduanxuanzhong = (chuzhiweikong.iEnabled)" ng-model="panduanxuanzhong"/>-->
                                    <!--<input type="text" ng-hide="true" value="{{(chuzhiweikong.strEnabledsssId) = strEnabledsss}}" ng-model="strEnabledsss"/>-->
                                    <!--<integralrules-Directive></integralrules-Directive>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--&lt;!&ndash;</form>&ndash;&gt;-->
                        <!--</div>-->

                        </div>


                        <!--抵用券部分-->
                        <div>
                            <div class="w500 ml50 clearfix zjl_recharge_bdbmx pr10 mb5">
                                <div class="fl">抵用券</div>
                                <!--随便两个字符，保证不能为空-->
                                <input type="text" ng-hide="true"  ng-value="listRechargePresentsVoucherEntitydyq[0].panduanweikongxinas = 0" class="z_id_if_flx"/>
                                <input type="text" ng-hide="true"  ng-value="listRechargePresentsVoucherEntity[0].panduanweikongxinas = 0" class="z_id_if_flx"/>


                                <div class="fr -mr10" ng-repeat="listRechargePresentsVoucherEntitydyq in listRechargePresentsVoucherEntitydyq">
                                    <input type="text" ng-hide="true"  ng-value="listRechargePresentsVoucherEntitydyq.strSignId" class="z_id_if_flx"/>
                                    <input type="text" ng-hide="true" ng-value="panduanxuanzhong = (listRechargePresentsVoucherEntitydyq.iEnabled)" ng-model="panduanxuanzhong"/>
                                    <input type="text" ng-hide="true" value="{{(listRechargePresentsVoucherEntity[0].strEnabledsssId) = strEnabledsss}}" ng-model="strEnabledsss"/>
                                    <integralrules-Directive></integralrules-Directive>
                                </div>
                                <!--{{listRechargePresentsVoucherEntity[0].iEnabled}}-->
                            </div>
                            <div class="w500 ml50 clearfix zjl_recharge_bdbmx pb10 pl10"  ng-repeat="listRechargePresentsVoucherEntity in listRechargePresentsVoucherEntity">
                                <div class="fl mt10 w200">
                                    <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 最低充值</div>
                                    <div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="listRechargePresentsVoucherEntity.dMinimumRechargeAmount" ng-value="listRechargePresentsVoucherEntity.dMinimumRechargeAmount"  name="strInformationname12" ngTrim ng-maxlength="7" required/><span class="fr mr5">元</span></div>
                                    <!--<div class="fl">赠送1积分</div>-->
                                </div>
                                <div class="fl mt10 w250 ml50">
                                    <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 每人赠送</div>
                                    <div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="listRechargePresentsVoucherEntity.iMinimumPresentsVoucherNumber" ng-value="listRechargePresentsVoucherEntity.iMinimumPresentsVoucherNumber"  name="strInformationname13" ngTrim ng-maxlength="7" required/><span class="fr mr5">张</span></div>
                                    <!--<div class="fl">可赠送积分</div>-->
                                </div>
                                <div class="fl mt10 w200">
                                    <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 赠送抵用券</div>
                                    <select ng-model="listRechargePresentsVoucherEntity.strBasePresentsVoucherTicketId" ng-options="listVoucherTicketInfoEntity.strVoucherTicketId as listVoucherTicketInfoEntity.strVoucherTicketName for listVoucherTicketInfoEntity in listVoucherTicketInfoEntity"  required>
                                        <option  value="">全部</option>
                                    </select>
                                </div>
                                <div class="w clearfix"></div>
                                <div class="fl mt10 w250">
                                    <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 每多充值</div>
                                    <div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="listRechargePresentsVoucherEntity.dMoreRechargeAmount"  ng-value="listRechargePresentsVoucherEntity.dMoreRechargeAmount"   name="strInformationname14" ngTrim ng-maxlength="7" required/><span class="fr mr5">张</span></div>
                                    <!--<div class="fl">可赠送积分</div>-->
                                </div>
                                <div class="fl mt10 w200">
                                    <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 每人赠送</div>
                                    <div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="listRechargePresentsVoucherEntity.iMoreRresentsVoucherNumber"  ng-value="listRechargePresentsVoucherEntity.iMoreRresentsVoucherNumber"  name="strInformationname15" ngTrim ng-maxlength="7" required/><span class="fr mr5">张</span></div>
                                    <!--<div class="fl">赠送1积分</div>-->
                                </div>
                                <div class="fl mt10 w200">
                                    <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 赠送抵用券</div>
                                    <select ng-model="listRechargePresentsVoucherEntity.strMorePresentsVoucherTicketId" ng-options="listVoucherTicketInfoEntity.strVoucherTicketId as listVoucherTicketInfoEntity.strVoucherTicketName for listVoucherTicketInfoEntity in listVoucherTicketInfoEntity"  required>
                                        <option  value="">全部</option>
                                    </select>
                                </div>
                                <!--加减号-->
                                <div class="fr f20 oranger-color mr20 mt20">
                                    <div class="fl -lpy-list-control-title" ng-click="z_deletedyq(listRechargePresentsVoucherEntity.strRechargePresentsVoucherId,listRechargePresentsVoucherEntity.strActivityId,$index,listRechargePresentsVoucherEntity.dMinimumRechargeAmount)">-</div>
                                    <div class="fl ml10 -lpy-list-control-title" ng-click="addStoreZs($index,listRechargePresentsVoucherEntity.strActivityId)">+</div>
                                </div>
                            </div>
                            <!--抵用券内容为空-->
                            <!--<div class="w500 ml50 clearfix zjl_recharge_bdbmx pb10 pl10" ng-if="!listRechargePresentsVoucherEntity[0]">-->
                                <!--<div class="fl mt10 w200">-->
                                    <!--<div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 最低充值</div>-->
                                    <!--<div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="diyongquanweikong.dMinimumRechargeAmount" ng-value="diyongquanweikong.dMinimumRechargeAmount"  name="strInformationname16" ngTrim ng-maxlength="7" required/><span class="fr mr5">元</span></div>-->
                                    <!--&lt;!&ndash;<div class="fl">赠送1积分</div>&ndash;&gt;-->
                                <!--</div>-->
                                <!--<div class="fl mt10 w250 ml50">-->
                                    <!--<div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 每人赠送</div>-->
                                    <!--<div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="diyongquanweikong.iMinimumPresentsVoucherNumber" ng-value="diyongquanweikong.iMinimumPresentsVoucherNumber"  name="strInformationname17" ngTrim ng-maxlength="7" required/><span class="fr mr5">张</span></div>-->
                                    <!--&lt;!&ndash;<div class="fl">可赠送积分</div>&ndash;&gt;-->
                                <!--</div>-->
                                <!--<div class="fl mt10 w200">-->
                                    <!--<div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 赠送抵用券</div>-->
                                    <!--<select ng-model="diyongquanweikong.strBasePresentsVoucherTicketId" ng-options="listRechargePresentsVoucherEntity.strVoucherTicketId as listVoucherTicketInfoEntity.strVoucherTicketName for listVoucherTicketInfoEntity in listVoucherTicketInfoEntity">-->
                                        <!--<option  value="">全部</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--<div class="w clearfix"></div>-->
                                <!--<div class="fl mt10 w250">-->
                                    <!--<div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 每多充值</div>-->
                                    <!--<div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="diyongquanweikong.dMoreRechargeAmount"  ng-value="diyongquanweikong.dMoreRechargeAmount"   name="strInformationname18" ngTrim ng-maxlength="7" required/><span class="fr mr5">张</span></div>-->
                                    <!--&lt;!&ndash;<div class="fl">可赠送积分</div>&ndash;&gt;-->
                                <!--</div>-->
                                <!--<div class="fl mt10 w200">-->
                                    <!--<div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 每人赠送</div>-->
                                    <!--<div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="diyongquanweikong.iMoreRresentsVoucherNumber"  ng-value="diyongquanweikong.iMoreRresentsVoucherNumber"  name="strInformationname19" ngTrim ng-maxlength="7" required/><span class="fr mr5">张</span></div>-->
                                    <!--&lt;!&ndash;<div class="fl">赠送1积分</div>&ndash;&gt;-->
                                <!--</div>-->
                                <!--<div class="fl mt10 w200">-->
                                    <!--<div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 赠送抵用券</div>-->
                                    <!--<select ng-model="diyongquanweikong.strMorePresentsVoucherTicketId" ng-options="listVoucherTicketInfoEntity.strVoucherTicketId as listVoucherTicketInfoEntity.strVoucherTicketName for listVoucherTicketInfoEntity in listVoucherTicketInfoEntity">-->
                                        <!--<option  value="">全部</option>-->
                                    <!--</select>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;加减号&ndash;&gt;-->
                                <!--<div class="fr f20 oranger-color mr20 mt20">-->
                                    <!--<div class="fl -lpy-list-control-title" ng-click="z_delete(diyongquanweikong.strActivityId)">-</div>-->
                                    <!--<div class="fl ml10 -lpy-list-control-title" ng-click="addStoreZs($index)">+</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="mt10"></div>
                    </div>
                    <div class="w150 center">
                        <input class="fl small-btn small-btn-primary" type="submit" value="确定"/><a class="fr small-btn small-btn-default" ng-click="clostExpandWindow()">取消</a>
                    </div>
                </form>
                <div class="h50"></div>
            </div>
        </div>
    </div>

    <!--抵用券券新增模态框-->
    <div class="-lpy-mengban"  ng-show="showExpandInfoWindowStore"></div>
    <div class="-lpy-big-alert-window w650" ng-show="showExpandInfoWindowStore">
        <div class="-lpy-big-alert-window-title">
            <div  ng-switch="isAddNewExpand">
                <div class="fl" ng-switch-default>新增抵用券</div>
            </div>
            <div class="fr  close_btn" ng-click="clostExpandWindowStore()">x</div>
        </div>
        <div class="-lpy-alert-window-main-content ">

            <div class="-lpy-edit-staff-content">
                <form  name="memberexpandinformationEntityForm" ng-submit="adddiyongquan()">
                <div class="mt30">
                        <div class="w500 ml50 clearfix pb10 pl10">
                            <div class="fl mt10 w200">
                                <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 最低充值</div>
                                <div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="diyongquanxinzeng.dMinimumRechargeAmount" ng-value="diyongquanxinzeng.dMinimumRechargeAmount"  name="strInformationname" ngTrim ng-maxlength="7" required/><span class="fr mr5">元</span></div>
                                <!--<div class="fl">赠送1积分</div>-->
                            </div>
                            <div class="fl mt10 w250 ml50">
                                <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 每人赠送</div>
                                <div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="diyongquanxinzeng.iMinimumPresentsVoucherNumber" ng-value="diyongquanxinzeng.iMinimumPresentsVoucherNumber"  name="strInformationname" ngTrim ng-maxlength="7" required/><span class="fr mr5">张</span></div>
                                <!--<div class="fl">可赠送积分</div>-->
                            </div>
                            <div class="fl mt10 w200">
                                <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 赠送抵用券</div>
                                <select ng-model="diyongquanxinzeng.strBasePresentsVoucherTicketId" ng-options="listVoucherTicketInfoEntity.strVoucherTicketId as listVoucherTicketInfoEntity.strVoucherTicketName for listVoucherTicketInfoEntity in listVoucherTicketInfoEntity" required>
                                    <option  value="">全部</option>
                                </select>
                            </div>
                            <div class="w clearfix"></div>
                            <div class="fl mt10 w250">
                                <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 每多充值</div>
                                <div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="diyongquanxinzeng.dMoreRechargeAmount"  ng-value="diyongquanxinzeng.dMoreRechargeAmount"   name="strInformationname" ngTrim ng-maxlength="7" required/><span class="fr mr5">张</span></div>
                                <!--<div class="fl">可赠送积分</div>-->
                            </div>
                            <div class="fl mt10 w200">
                                <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 每人赠送</div>
                                <div class="zjl_firsttime_input w80 fl ml5"><input class="w50 zjl_bdxs" type="text" ng-model="diyongquanxinzeng.iMoreRresentsVoucherNumber"  ng-value="diyongquanxinzeng.iMoreRresentsVoucherNumber"  name="strInformationname" ngTrim ng-maxlength="7" required/><span class="fr mr5">张</span></div>
                                <!--<div class="fl">赠送1积分</div>-->
                            </div>
                            <div class="fl mt10 w200">
                                <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 赠送抵用券</div>
                                <select ng-model="diyongquanxinzeng.strMorePresentsVoucherTicketId" ng-options="listVoucherTicketInfoEntity.strVoucherTicketId as listVoucherTicketInfoEntity.strVoucherTicketName for listVoucherTicketInfoEntity in listVoucherTicketInfoEntity" required>
                                    <option  value="">全部</option>
                                </select>
                            </div>
                            <!--&lt;!&ndash;启用禁用&ndash;&gt;-->
                            <!--<div class="fl ml50 mt10">-->
                                <!--<input type="text" ng-hide="true"  ng-value="listRechargePresentsVoucherEntity.strSignId" class="z_id_if_flx"/>-->
                                <!--<input type="text" ng-hide="true" ng-value="panduanxuanzhong = (listRechargePresentsVoucherEntity.iEnabled)" ng-model="panduanxuanzhong"/>-->
                                <!--<input type="text" ng-hide="true" value="{{(listRechargePresentsVoucherEntity.strEnabledsssId) = strEnabledsss}}" ng-model="strEnabledsss"/>-->
                                <!--<integralrules-Directive></integralrules-Directive>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="w150 center mt20">
                        <input class="fl small-btn small-btn-primary" type="submit" value="确定"/><a class="fr small-btn small-btn-default" ng-click="clostExpandWindowStores()">取消</a>
                    </div>
                </form>

                <div class="h50"></div>
            </div>
        </div>
    </div>

    <!--储值券新增模态框-->
    <div class="-lpy-mengban"  ng-show="showExpandInfoWindowCz"></div>
    <div class="-lpy-big-alert-window w650" ng-show="showExpandInfoWindowCz">
        <div class="-lpy-big-alert-window-title">
            <div  ng-switch="isAddNewExpand">
                <div class="fl" ng-switch-default>新增储值券</div>
            </div>
            <div class="fr  close_btn" ng-click="clostExpandWindowCz()">x</div>
        </div>
        <div class="-lpy-alert-window-main-content ">
            <div class="-lpy-edit-staff-content">
                <form  name="memberexpandinformationEntityForm" ng-submit="adddichuzhiquan()">
                    <div class=" w500 ml50 pr10 mb5 mt20">
                        <div>
                            <div class="w500  clearfix  pb10 pl10">
                                <div class="mt10 ml80 clearfix">
                                    <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 现金充值</div>
                                    <div class="zjl_firsttime_input w150 fl ml5"><input class="w120 zjl_bdxs" type="text" ng-model="addchuziquantianjia.dRechargeAmount" ng-value="addchuziquantianjia.dRechargeAmount"   name="strInformationname" ngTrim ng-maxlength="7" required/><span class="fr mr5">元</span></div>
                                    <!--<div class="fl">赠送1积分</div>-->
                                </div>
                                <div class="mt10 ml80 clearfix">
                                    <div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 赠送储值</div>
                                    <div class="zjl_firsttime_input w150 fl ml5"><input class="w120 zjl_bdxs" type="text" ng-model="addchuziquantianjia.dPresentsAmount" ng-value="addchuziquantianjia.dPresentsAmount"   name="strInformationname" ngTrim ng-maxlength="7" required/><span class="fr mr5">元</span></div>
                                    <!--启用-->
                                </div>



                                <!--<div class=" mt10 ml80 clearfix">-->
                                    <!--<div class="fl">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 是否启用</div>-->
                                    <!--<div class="fl">&nbsp;-->
                                        <!--<select ng-model="addchuziquantianjia.strEnabledsssId" ng-options="iIsValid.id as iIsValid.name for iIsValid in iIsValid" required>-->
                                            <!--<option  value="">全部</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="w150 center mt20">
                        <input class="fl small-btn small-btn-primary" type="submit" value="确定"/><a class="fr small-btn small-btn-default" ng-click="clostExpandWindowStores()">取消</a>
                    </div>
                </form>
                <div class="h50"></div>
            </div>
        </div>
    </div>
</div>