<div class="right-content-main">
	<div class="right-content-header">
		<div class="right-content-header-left-info fl"><a href="/admin/biz/homepage">{{strMerchantname}}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;<a>编辑前端资料</a></div>
		<div class="right-content-header-right-info fr">
			<!-- <a class="small-btn fl">导入</a><a class="small-btn fl">导出</a> -->
		</div>
		<div class="clearfix"></div>
	</div>
	<!--自定区域  -->
	<div class="edit-merchant-info-container">
	
			
		 <div class="all">
        <script type="text/html" style="margin:auto;height:300px;width:100%;" ng-model="strContent" meta-umeditor
                meta-umeditor-config='config'
                meta-umeditor-placeholder="请输入前端显示信息">
        </script>
        <div class="h20"></div>
        <div class="-lpy-div-subbmit "><a class="small-btn yellow-border  center " ng-click="saveFrontinfo()">保存</a></div>
    </div>
	</div>
	
</div>