<div ng-show="rechangeRightShow" class="zjl_change_direct">
    <div class="pr zjl_change_right">
        <div class="centers">
        <div class="zjl_change_select">筛选条件</div>
        <div>
            <p class="zjl_change_select_true" ng-click="rechangeClose()"><a>全&nbsp;部</a></p>
            <div ng-repeat="selectValue in selectValue">
            <p class="zjl_change_select_false" ng-click="rechangeRightShowClose(selectValue.strGoodsTypeId)"><a href="">{{selectValue.strGoodsTypeName}}</a></p>
            </div>
        </div>
    </div>
    </div>
</div>