<div class="mobile_content">
    <div class="z-vipCenter-box">
        <div class="z-vipCenter-solid">
            <!--虚线-->
            <div class="z-vipCenter-xuxian"></div>
            <!--圆圈-->
            <div class="z-vipCenter-cycle" ng-repeat="x in name" ng-click="color()">
                <div class="z-vipCenter-cycle-position">
                    <div class="z-vipCenter-cycle-complain">
                        <p>{{x.content}}</p>
                        <p>或累计满5000元</p>
                    </div>
                    <div class="z-vipCenter-cycle-absolute">
                        <div class="z-vipCenter-cycle-position-relative">
                            <div class="z-vipCenter-cycle-position-absolute">
                                {{x.card}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="z-vipCenter-memberRight">
        <div class="z-vipCenter-memberRight-text">
            <p>会员权益</p>
        </div>
        <div style="height: .4rem;"></div>
    </div>

    <div class="z-vipCenter-memberRight-card">
        <div class="z-vipCenter-memberRight-card-name">
            钻石卡
        </div>
        <div class="z-vipCenter-memberRight-card-content">
            <div class="z-vipCenter-memberRight-card-content-indetal">
                <p>工时折扣</p>
                <p>工时折扣</p>
            </div>
            <div class="z-vipCenter-memberRight-card-content-solid"></div>
            <div class="z-vipCenter-memberRight-card-content-indetal">
                <p>工时折扣</p>
            </div>
        </div>
    </div>



    <div class="z-vipCenter-memberregulation">
        <div class="z-vipCenter-memberRight-text">
            <p>会员章程</p>
        </div>
        <div style="height: .4rem;"></div>
    </div>

    <div class="z-vipCenter-memberRight-rule">
        <div class="z-vipCenter-memberRight-userule">
            <p class="z-vipCenter-memberRight-userule-tittle">会员积分卡的使用规定</p>
            <p>积分卡需要在小费结算前出示；</p>
        </div>
        <div class="z-vipCenter-memberRight-userule">
            <p class="z-vipCenter-memberRight-userule-tittle">会员积分卡的使用规定</p>
            <p>积分卡需要在小费结算前出示；</p>
        </div>
    </div>





</div>