body{
    background-color:#D8D8D8;
	/*background-color:#E5E5E5;*/
}
.z-exchange-top{
	height:1.5rem;
	background-color:#FFBE0C ;
}
.z-exchange-top-left{
	float: left;
	width: 50%;
	text-align: center;
}
.z-exchange-top-left-number{
	margin-top: .1rem;
	color: #000000;
	font-size: .3rem;
}
.z-exchange-top-left-number span{
	font-size: .6rem;
}
.z-exchange-top-left-day{
	color: white;
	font-size: .3rem;
}
.z-exchange-top-right{
	float: right;
	width: 50%;
	
}
.z-exchange-top-right-exchange{
	height: 1.5rem;
	text-align: center;
	position: relative;
}

.z-exchange-top-right-gray{
	background-color:#C1C1C1 ;
	height: .65rem;
	width: 2.2rem;
	border-radius: 50px;
	position: absolute;
	top: .5rem;
	left: .5rem;
	z-index:1;
}
.z-exchange-top-right-exchange-white{
	font-size: .3rem;
	height: .6rem;
	color: #000000;
	border-radius: 50px;
	background-color: white;
	z-index:2;
	top: .5rem;
	left: .6rem;
	line-height: .6rem;
}
.z-exchange-popularShop{
	height: .4rem;
	text-align: center;
	margin: 2px 0px;
	background-color: white;
	padding: .1rem 0rem;
}
.z-exchange-popularShop span{
	margin: 0px 5px;
	font-size: .25rem;
	padding: .05rem .11rem;
	border-radius: 50px;
	color: white;
}
.z-exchange-popularShop-gray{
	background: #C1C1C1;
}
.z-exchange-popularShop-orange{
	background-color: #F67F44;
}
.z-exchange-screen{
	height: .4rem;
	text-align: right;
	margin: 2px 0px;
	background-color: white;
	padding: .05rem 0px;
}
.z-exchange-screen div{
	margin: 0px 10px;
	float: right;
}
.z-exchange-screen-img{
	height: .4rem;
	width: .4rem;
}
.z-exchange-screen-img img{
	height: .4rem;
	width: .4rem;
}
.z-exchange-screen-select{
	width: .8rem;
	text-align: center;
	margin-top: -.1rem;
	height: .4rem;
	font-size: .25rem;
	line-height: .4rem;
	border: 1px solid #7A7A7A;
	border-radius: 50px;
}
.z-exchange-CommodityContent{
	padding: .05rem 0;
    text-align: center;
}
.z-exchange-CommodityContent-all{
	margin-left: .4rem;
    /*display: inline-block;*/
	/*display: -webkit-box;*/

}
.z-exchange-Commodity{
	/*-webkit-box-flex: 1;*/
	width: 3.2rem;
	background-color: white;
	margin: 5px;
    float: left;
	text-align: center;
}
.z-exchange-Commodity-img{
	height: 2.5rem;
	width: 3.2rem;
}
.z-exchange-Commodity-img img{
	height: 100%;
	width: 100%;
}
.z-exchange-Commodity-name{
	color: #000000;
	font-size: .2rem;
}
.z-exchange-Commodity-exchange{
	color: #000000;
	font-size: .3rem;
}
.z-exchange-Commodity-exchange img{
	width: .4rem;
    height: auto;
}
.z-exchange-Commodity-or{
	font-size: .16rem;
	color: gray;
}
.z-exchange-Commodity-sure{
	padding: 0.1rem;
}
.z-exchange-Commodity-sure span{
	font-size: .25rem;
	padding: .05rem .11rem;
	border-radius: 50px;
	color: white;
	background-color: #F67F44;
}
.z-exchangeTwo-top{
    height:1.5rem;
    background-color:#FFBE0C ;
}
.z-exchangeTwo-top-left{
    float: left;
    width: 50%;
    text-align: center;
}
.z-exchangeTwo-top-left-number{
    margin-top: .1rem;
    color: #000000;
    font-size: .3rem;
}
.z-exchangeTwo-top-left-number span{
    font-size: .6rem;
}
.z-exchangeTwo-top-left-day{
    color: white;
    font-size: .3rem;
}
.z-exchangeTwo-top-right{
    float: right;
    width: 50%;

}
.z-exchangeTwo-top-right-exchangeTwo{
    height: 1.5rem;
    text-align: center;
    position: relative;
}

.z-exchangeTwo-top-right-gray{
    background-color:#C1C1C1 ;
    height: .65rem;
    width: 2.2rem;
    border-radius: 50px;
    position: absolute;
    top: .5rem;
    left: .5rem;
    z-index:1;
}
.z-exchangeTwo-top-right-exchangeTwo-white{
    font-size: .3rem;
    height: .6rem;
    color: #000000;
    border-radius: 50px;
    background-color: white;
    z-index:2;
    top: .5rem;
    left: .6rem;
    line-height: .6rem;
}
.z-exchangeTwo-popularShop{
    height: .4rem;
    text-align: center;
    margin: 2px 0px;
    background-color: white;
    padding: .1rem 0rem;
}
.z-exchangeTwo-popularShop span{
    margin: 0px 5px;
    font-size: .25rem;
    padding: .05rem .11rem;
    border-radius: 50px;
    color: white;
}
.z-exchangeTwo-popularShop-gray{
    background: #C1C1C1;
}
.z-exchangeTwo-popularShop-orange{
    background-color: #F67F44;
}
.z-exchangeTwo-screen{
    height: .3rem;
    text-align: right;
    margin: 2px 0px;
    background-color: white;
    padding: .15rem 0rem;
}
.z-exchangeTwo-screen div{
    margin: 0px 10px;
    float: right;
}
.z-exchangeTwo-screen-img{

}
.z-exchangeTwo-screen-img img{
    height: .4rem;
    width: .4rem;
}
.z-exchangeTwo-screen-select{
    width: .8rem;
    text-align: center;
    margin-top: -.1rem;
    height: .4rem;
    font-size: .25rem;
    line-height: .4rem;
    border: 1px solid #7A7A7A;
    border-radius: 50px;
}
.z-exchangeTwo-CommodityContent{
    padding: .1rem 0rem;
}
.z-exchangeTwo-Commodity{
    display: -webkit-box;
    background-color:#E5E5E5 ;
    margin-top: .1rem;
}
.z-exchangeTwo-Commodity-img{
    width: 1.6rem;
    height: 1.6rem;
    background-color: white;
    border: 1px solid #5C5C5C;
}
.z-exchangeTwo-Commodity-img img{
    width: 1.6rem;
    height: 1.6rem;
}
.z-exchangeTwo-Commodity-text{
    height: 1.62rem;
    width: 5.9rem;
}
.z-exchangeTwo-Commodity-name{
    font-size: .23rem;
    padding: 5px 20px;
    color: #000000;
    border-bottom: 1px solid white;
}
.z-exchangeTwo-Commodity-artical{

}
.z-exchangeTwo-Commodity-exchangeTwo{
    color: #000000;
    font-size: .3rem;
    padding-left: .2rem;
    line-height: .6rem;
    border-bottom: 1px solid white;
}
.z-exchangeTwo-Commodity-exchangeTwo img{
    width:.4rem ;
}
.z-exchangeTwo-Commodity-or{
    font-size: .2rem;
    color: gray;
}
.z-exchangeTwo-Commodity-sure{

}
.z-exchangeTwo-Commodity-view{
    float: left;
    padding-left:.2rem ;
    line-height: .5rem;
}
.z-exchangeTwo-Commodity-view img{
    width: .75rem;
}
.z-exchangeTwo-Commodity-makesure{
    background-color: #F77F43;
    color: white;
    float: right;font-size: .27rem;
    width: 1.3rem;
    text-align: center;
    line-height: .43rem;
}

/*指令*/
.zjl_change_direct{
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    /*background-color: red;*/
    background-color: rgba(0,0,0,.5);
}
.zjl_change_direct .zjl_change_right{
    height: 100%;
    width: 30%;
    background-color: #ffffff;
    left:70%;
    top: 0px;
    padding: 1rem 0px;
    text-align: center;

}
.centers{
    display: inline-block;
}
.zjl_change_direct .zjl_change_select{
    font-size: 18px;
    border-bottom: 1px solid #555555;
    width: 80px;
}
.zjl_change_direct .zjl_change_select_true{
    width: 80px;
    margin-top:10px;
}
.zjl_change_direct .zjl_change_select_true a{
    display: inline-block;
    width: 60px;
    background-color: #F77F43;
    color: #ffffff;
    border-radius: 10px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #F77F43;
}
/*.zjl_change_select_false*/
.zjl_change_direct .zjl_change_select_false{
    width: 80px;
    margin-top: 10px;
}
.zjl_change_direct .zjl_change_select_false a{
    display: inline-block;
    width: 60px;
    /*background-color: ;*/
    color: #ffffff;
    border-radius: 10px;
    height: 20px;
    line-height: 20px;
    color: #555555;
    border: 1px solid #555555;
}