<div ng-controller="searchTellphone">
<div class="clearfix cd_search">
    <div class="fl">
        <input type="text" class="Zjl_input_bod_hidden" placeholder="手机号码/卡号/姓名" ng-model="searchChargeconsol"  required/>
    </div>
    <div class="fl dj_searchs" ng-click="vipUserSearch()">
        <!--<img src="" alt=""/>-->
    </div>
    <!--{{searchChargeconsolsss}}-->
</div>
<div class="zjl_Vipinfor mt5 h35">
    <table class="w">
        <tr ng-show="ifshowuserdetail">
            <td><p><span>姓名：</span><span>{{listMemberVO.strRealname}}</span></p></td>
            <td><p><span>手机：</span><span>{{listMemberVO.strMobile}}</span></p></td>
            <td><p><span>会员级别：</span><span>{{listMemberVO.strLevelsname}}</span></p></td>
            <td><p><span>可用积分：</span><span>{{listMemberVO.intIntegral}}</span></p></td>
            <td><p><span>卡号：</span><span>{{listMemberVO.strMembercardnum}}</span></p></td>
            <td><p><span>余额：</span><span>{{listMemberVO.dBalance}}</span><span>￥</span></p></td>
            <td><p><span class="zjl_charge" ng-click="runrecharge()">充值</span></p></td>
        </tr>
    </table>
</div>
</div>