/*goodsAdministration
 
 * 样式管理
 * */
.zjl-common-table{
	width: 580px;
	margin: 0 auto;
}
.zjl-common-table tr td{
	padding: 5px 0px;
}
.zjl-common-table tr td [type =text]{
	width: 100px;
}
.zjl-common-table tr td select{
	border-radius: 5px;
	height: 18px;
}
.zjl-common-cutdown{
	padding-left: 5px;
	border-bottom: 1px dashed #C6C6C6;
	line-height: 25px;
	margin-bottom: 5px;
}
.zjl-common-tableOne{
	width: 100%;
	text-align: center;
}
.zjl-common-tableOne tr td{
	padding: 5px 0px;
	width: 125px;
}
.zjl-common-tableOne tr td input{
	width: 100px;
}
.zjl-common-tableOne tr{
	border-bottom: 1px solid #C6C6C6;
}
.zjl-common-tableOne-tr{
	background-color: #C6C6C6;
}
.zjl-common-tableOne-tr td{
	color: white;
}
.edui-container{
	width: 580px !important;
}
/*.zjl-common-chajian .all .edui-btn-toolbar{
	width: 500px;
}
.zjl-common-chajian .all .edui-btn-toolbar .edui-editor-body{
	width: 500px;
}*/
