
/* 头部开始 */

.-lpy-homepage-header-container{
	height: 80px;
	width:100%;
	background-color: #000000;
	
}

.-lpy-homepage-header-menu{
	width:1190px;
	height: 80px;
	margin: auto;
	
	
}
.-lpy-homepage-header-menu a{
	color: #fafafa;
	font-size: 18px;
	line-height: 80px;
	margin: 0 15px;
	display: inline-block;
}

.-lpy-homepage-header-left{
	width:300px;
	height: 80px;
	
}
.-lpy-homepage-header-center{
	width:600px;
	height: 80px;
	
}
.-lpy-homepage-header-center ul li{
	float: left;
}
.-lpy-homepage-header-right{
	width:190px;
	height: 80px;

}
.-lpy-homepage-header-right ul li{
	float: left;
}
.-lpy-homepage-header-left ul li{
	float: left;
}
.userrealname{
	 white-space: nowrap;
	 text-overflow:ellipsis;
	 overflow:hidden;
	 width:90px;
	 text-align: center;
	 
}

.shop-header-image{
	width:70px;
	height: 70px;
	margin: 5px;
}
.shop-name-span {
	 white-space: nowrap;
	 text-overflow:ellipsis;
	 overflow:hidden;
	 width:190px;
	 text-align: left;
	 color: #ffcd00 !important;
	 font-weight: bold;
	 font-size: 24px !important;
	 
}
.-lpy-homepage-header-center a:hover{
    color: #ffcd00 !important;
}
.-lpy-homepage-header-center .selected{
    color: #ffcd00 !important;
}
/* 头部开始结束 */


/* 尾部开始 */

.footer{
	
	background: black;

	bottom:0;
	left:0;
	width:100%;
}
.footer-first-line{
	height: 110px;
	width:100%;
	background-color: #3b3b3b;
	color: #ffffff;
}
.footer-seconde-line{
	color: #ffffff;
	text-align: center;
	height: 30px;
	line-height: 30px;
}

.ico-phone{
	display: inline-block;
	width:24px;
	height: 24px;
	background: url("../../../images/admin/login/ico-phone.png") top center no-repeat;
	vertical-align: middle;
}

.ico-addr{
	display: inline-block;
	width:24px;
	height: 24px;
	background: url("../../../images/admin/login/ico-addr.png") top center no-repeat;
	vertical-align: middle;
}

.ico-email{
	display: inline-block;
	width:24px;
	height: 24px;
	background: url("../../../images/admin/login/ico-email.png") top center no-repeat;
	vertical-align: middle;
}

.finst-line-center{
	width:740px;
	margin: auto;
}
.footer-maininfo{
	width:500px;
}
.footer-maininfo div{
	width:250px;
}
.footer-address{
	width:500px !important;
}
.footer-barcod-img {
	width:90px;
	height: 90px;
	margin-top: 10px;
}
/* 尾部结束 */

/*  主体开始*/
.-lpy-main-content{
	width:1190px;
	margin: auto;
}
.left-menu{
	width:165px;
}
.right-content{
	width:1025px;
	margin-top: 20px;
}
.right-content-main{
	width:100%;
	position: relative;
}
.right-content-header{
	height: 30px;
	border-bottom: 1px solid #fdc204;
	line-height: 30px;
}

/* 主体结束 */
.small-btn{
	/* width:40px; */
	
	text-align: center;
	line-height: 20px;
	border: 1px solid #7c7c7c;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	margin: 0 5px; 
	cursor: pointer;
	display: inline-block;
	padding: 0 10px;

}

.small-btn-default{
	color: #fdc204;
	border: 1px solid #fdc204;
}
.small-btn-primary{
	border: 1px solid #fdc204;
	background-color: #fdc204;
	color: #ffffff;
}
.small-btn-primary:hover{
	background-color: #ffa038;
}
.small-btn-default:hover{
	border: 1px solid #ffa038;
	color: #ffa038;
}
.white-color{
	color: #ffffff;
}
.center{
	margin: auto;
}




/*列表效果*/
.edit-merchant-info-container,.merchant-info-container{
    margin-top: 5px;
    min-height: 500px;
    margin-bottom: 50px;
}


.list-table{
    width:100%;
}
.list-table tr{
    border-bottom: 1px solid #d3d3d3;
}
.list-table th{
    background: #b3b3b3;
    color: #ffffff;
    height: 40px;
    vertical-align: middle;
    padding: 0 10px
}

.list-table td{
    background: #f6f6f6;
    color: #888888;
    height: 40px;
    vertical-align: middle;
    padding: 0 10px
}

.bottom-pager{
    margin-top: 40px;

}


.-lpy-list-control{
    position: relative;
}
.-lpy-list-control-title{
    cursor: pointer;
}
.-lpy-list-control ul{
    position: absolute;
    top: 18px;
    background: #d9d9d9;
    left: -20px;
    width: 60px;
    z-index: 2;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
}
.-lpy-list-control ul li{
    height: 30px;
    line-height: 30px;
}
.-lpy-list-control ul li a{
    display: block;
}
.-lpy-list-control ul li a:hover{
    background: #fdc204;
    color: #ffffff;
}

.-lpy-list-control ul li a:first:hover{
    border-radius: 5px 5px 0 0 ;
    -webkit-border-radius: 5px 5px 0 0 ;
    -moz-border-radius:5px 5px 0 0 ;
}

/*列表效果结束*/


/* 新增职务弹窗 */
.-lpy-big-alert-window{
    width:600px;
    height: 300px;
    position: fixed;
    left:0;
    right:0;
    top:100px;
    margin: auto;
    z-index:1001;
}

.-lpy-mengban{
    position: fixed;
    top:0;
    left:0;
    right:0;
    margin: auto;
    background: #000000;
    z-index:1000;
    height: 100%;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;

}
.-lpy-mengban-2{
    position: fixed;
    top:0;
    left:0;
    right:0;
    margin: auto;
    background: #000000;
    z-index:10000;
    height: 100%;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.layer2{
    z-index:10001;
}



.-lpy-big-alert-window-title{
    height: 30px;
    background: #ffa038;
    line-height: 30px;
    padding-left: 20px;
    color: #ffffff;
    -webkit-border-radius:5px 5px 0 0 ;
    -moz-border-radius:5px 5px 0 0 ;
    border-radius: 5px 5px 0 0;

}

.close_btn{
    cursor: pointer;
    display: block;
    width: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 5px;
}


.-lpy-alert-window-main-content{
    background: #ffffff;
    height: 320px;
    overflow: auto;
}
.-lpy-sure-power-container{
    background: #ffffff;
    height: 30px;
}

.-lpy-duty-content{
    width: 400px;
    /* margin: auto; */
    margin-left: 200px
}
.-lpy-duty-content ul li{
    margin: 10px 0;
}
.red-require{
    color: red;
}


/*  权限弹窗*/