
.edit-merchant-info-container,.merchant-info-container{
	margin-top: 5px;
    min-height: 500px;
    margin-bottom: 50px;
}

.merchant-info-main{
	margin: 20px;
	min-height: 200px;
}
.-lpy-div-subbmit{
	width:50px;
	margin: auto;
}
.mt60{
	margin-top: 60px;
}
.w120{
	width:120px;
}
.merchant-logo-image{
	width: 90px;
    height: 90px;
    margin: 5px 45px;
}

.relative{
	position: relative;
}

.file-input{
	position:absolute;
	filter:alpha(opacity=0); /*IE滤镜，透明度50%*/
   -moz-opacity:0; /*Firefox私有，透明度50%*/
    opacity:0;
    left:60px;
    cursor: pointer;
    z-index:0;
}