

.merchant-info-main{
	margin: 20px;
	min-height: 200px;
}
.-lpy-div-subbmit{
	width:50px;
	margin: auto;
}
.mt60{
	margin-top: 60px;
}
.w120{
	width:120px;
}
.merchant-logo-image{
	width: 90px;
    height: 90px;
    margin: 5px 45px;
}

.relative{
	position: relative;
}

.file-input{
	position:absolute;
	filter:alpha(opacity=0); /*IE滤镜，透明度50%*/
   -moz-opacity:0; /*Firefox私有，透明度50%*/
    opacity:0;
    left:60px;
    cursor: pointer;
    z-index:0;
}


/*职务相关*/


.power-big-type-title{
	height: 30px;
	border-bottom: 1px solid #cccccc;
	line-height: 30px;
	color: #ffa038;
	padding-left: 10px;
	
}
.power-left-type-title{
	width: 120px;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #cccccc;
    padding: 0 10px;
	
}
.power-list-container{
	border-bottom: 1px solid #cccccc;
}

.power-itme{
	width:100px;
	padding: 5px;
}
.power-itme input[type="checkbox"]{
	margin-right: 5px;
}
/*职务相关结束*/


/*员工相关开始*/

.header-container{
	width:150px;
	margin: auto;
}
.user-header{
	margin-top: 20px;
}
.user-header img{
	height: 60px;
    width: 60px;
    margin-left: 35px;
}
.upload-btn-group{
	position: relative;
	
}
.upload-btn-group a{
	margin-left: 30px;
}
.upload-btn-group input{
	left:20px;
}
.form-container{
	width: 600px;
    height: 150px;
    margin: auto;
}

.form-container select{
    width: 130px;
    height: 20px;
}
.w650{
    width: 650px !important;
}
/*员工相关结束*/
