
<!--职务管理  -->
<div class="right-content-main">
    <div class="right-content-header">
        <div class="right-content-header-left-info fl"><a href="/admin/page/homepage">{{strMerchantname}}</a>&nbsp;&nbsp;>>&nbsp;&nbsp;<a href="/admin/page/membercente">会员中心</a>&nbsp;&nbsp; >> &nbsp;&nbsp;<a>会员设置</a></div>
        <div class="right-content-header-right-info fr">
            <!-- <a class="small-btn fl">导入</a><a class="small-btn fl">导出</a> -->
            <a class="small-btn small-btn-primary fl" ng-click="newMemberinfo()">新增</a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="merchant-info-container">
        <div class="search-box">
            <input type="text" ng-model="strSearchkey"><span class="searchBtn" ng-click="searchMemberinfo()"></span>
        </div>
        <table class="list-table">
            <tr>
                <th>序号</th>
                <th>会员卡号</th>
                <th>会员级别</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>现金储值</th>
                <th>售后储值</th>
                <th>积分</th>
                <th>抵用券(张)</th>
                <th>状态</th>
                <th>加入时间</th>

                <th class="w40">操作</th>
            </tr>

            <tr ng-repeat='member  in memberList'>
                <td>{{$index+(currentPage-1)*pageSize+1}}</td>
                <td>{{member.strMembercardnum}}</td>
                <td>{{member.strLevelsname}}</td>
                <td>{{member.strRealname}}</td>
                <td>{{member.strMobile}}</td>
                <td>{{member.dBalance}}</td>
                <td>{{member.dAfterstoredbalance}}</td>
                <td>{{member.intIntegral}}</td>
                <td>{{member.intVouchers}}</td>
                <td>{{member.intStatus|replaceEmployeeStatus}}</td>
                <td>{{member.strInserttime}}</td>

                <td>
                    <div class="-lpy-list-control">
                        <div class="-lpy-list-control-title" ng-mouseout="openCtrMenu($index,'out')" ng-mouseover="openCtrMenu($index,'over')">
                            操作

                            <ul ng-show="isShowListMenu[$index]">
                                <li><a ng-click="memberDetail(member.strMemberid)">详情</a></li>
                                <!--<li><a ng-click="delectExpand(member.strInformationid)">禁用</a></li>-->
                                <!-- <li><a>修改2</a></li> -->
                            </ul>
                        </div>

                    </div>

                </td>

            </tr>

        </table>
        <div class="no-data-container" ng-click="newMemberinfo()" ng-if="isNoData">
            <div class="no-data-add-btn" ></div>
            <div class="no-data-info" >添加会员资料</div>
        </div>


        <div class="bottom-pager" >
            <pager class="fr"  page-count="pageCount"  current-page="currentPage" on-page-change="onPageChange()" first-text="首页" next-text=">" prev-text="<" last-text="尾页"  goto-text="跳转"></pager>
            <div class="clearfix"></div>
        </div>
    </div>




    <!--查询订单窗模块开始-->
    <div class="-lpy-mengban"  ng-show="showOrderListWindow"></div>
    <div class="-lpy-big-alert-window w1000 zindex1005" ng-show="showOrderListWindow">
        <div class="-lpy-big-alert-window-title">

            <div class="fl" >交易查询</div>

            <div class="fr  close_btn" ng-click="closeOrderListWindow()">x</div>
        </div>
        <div class="-lpy-alert-window-main-content pl10 pr10">
            <div class="select-condition">
                类型：<select ng-model="select.strPayType" ng-init="select.strPayType=-1" >
                        <option value="-1">全部</option>
                        <option value="0">积分支付</option>
                        <option value="1">微信支付</option>
                        <option value="2">支付宝支付</option>
                     </select>
                订单号：<input type="text" ng-model="select.strOrderId">
                日期：<input type="text" placeholder="开始日期" id="selectStartTime"  def-laydate ng-model="select.strStartTime" />--<input type="text" id="selectEndTime" def-laydate placeholder="结束日期" ng-model="select.strEndTime"  />
                    <a class="small-btn small-btn-primary" ng-click="selectAction()">查询</a>
            </div>
            <table class="list-table">
                <tr>
                    <th>序号</th>
                    <th>交易号</th>
                    <th>会员名</th>
                    <th>流水</th>
                    <th>商品名称</th>
                    <th>订单金额(元)</th>
                    <th>类型</th>
                    <th>物流公司</th>
                    <th>快递单号</th>
                    <th>状态</th>
                    <th>创建时间</th>


                </tr>

                <tr ng-repeat='order  in orderList'>
                    <td>{{$index+(orderCurrentPage-1)*orderPageSize+1}}</td>
                    <td>{{order.strOrderId}}</td>
                    <td>{{order.strMemberName}}</td>
                    <td>{{order.strThirdPartyTradeFlow}}</td>
                    <td>{{order.strGoodsName}}</td>
                    <td>{{order.dAmount}}</td>
                    <td>{{order.intPayType|payTypeFilter}}</td>
                    <td>{{order.strExpressCompany}}</td>
                    <td>{{order.strExpressNumber}}</td>
                    <td>{{order.intStatus|orderStatusFilter}}</td>
                    <td>{{order.strInsertTime}}</td>

                   

                </tr>

            </table>

            <div class="no-data-container"  ng-if="isNoOrderData">
                暂无交易信息
            </div>
            <div class="bottom-pager" >
                <pager class="fr"  page-count="orderPageCount"  current-page="orderCurrentPage" on-page-change="orderOnPageChange()" first-text="首页" next-text=">" prev-text="<" last-text="尾页"  goto-text="跳转"></pager>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!--查询订单弹窗模块结束-->








    <!--现金充值弹窗模块开始-->
    <div class="-lpy-mengban"  ng-show="showCashRechargWindow"></div>
    <div class="-lpy-big-alert-window w650 zindex1005" ng-show="showCashRechargWindow">
        <div class="-lpy-big-alert-window-title">

            <div class="fl" >{{member.strRealname}}&nbsp;&nbsp;&nbsp;现金充值</div>

            <div class="fr  close_btn" ng-click="closeCashRechargWindow()">x</div>
        </div>
        <div class="-lpy-alert-window-main-content ">

            <form name="cashRechargform" ng-submit="submitCashRecharg()">
                <div  ng-show="hadPay=='NO'">
                <div class="h50"></div>
                <div class="center w300  " >

                    <span class="red-require">*</span> 充值金额： <input type="number" ng-model="cashRecharg.strRechargeAmount" required/>
                </div>

                <div class="h50"></div>
                <div>

                    <ul class="w400 center select-pay-type-ul">


                        <li class="fl">
                            <input type="radio" name="strPayType" value="1" ng-model="cashRecharg.strPayType">
                            <img src="../../../static/images/admin/weixin_ico.jpg">
                            <div>微信支付</div>
                        </li>
                        <li class="fl">
                            <input type="radio" name="strPayType" value="2" ng-model="cashRecharg.strPayType">
                            <img src="../../../static/images/admin/zhifubao_ico.jpg">
                            <div>支付宝支付</div>
                        </li>
                        <li class="fl">
                            <input type="radio" name="strPayType" value="0" ng-model="cashRecharg.strPayType">
                            <img src="../../../static/images/admin/cash_ico.jpg">
                            <div>现金支付</div>
                        </li>

                        <div class="clearfix"></div>
                    </ul>


                </div>
                <div class="h50"></div>
                <div class="center w150">

                    <input class="small-btn small-btn-primary" type="submit" value="确定" ng-disabled="isDisableSubmit" /><a class="small-btn small-btn-default" ng-click="closeCashRechargWindow()">取消</a>
                </div>
                </div>
            </form>

            <div class="pay-result" ng-show="hadPay=='YES'">

                <div class="weixin-pay-barcode" ng-show="cashRecharg.strPayType=='1'">
                    <img ng-src="{{qrCode}}">
                    <div class="text-center main-color">请客户用微信扫描二维码支付</div>
                </div>
                <div class="pay-result-ok" ng-show="cashRecharg.strPayType=='2'">
                    请在支付宝页面完成支付
                    <div ng-show="false">
                        <div ng-bind-html="sHtmlText">
                        </div>
                    </div>
                </div>
                <div class="pay-result-ok" ng-show="cashRecharg.strPayType=='0'">

                   现金支付成功
                </div>

                <div class="pay-result-ok" ng-show="cashRecharg.strPayType=='ok'">

                    支付成功
                </div>

            </div>
        </div>
    </div>

    <!--现金充值弹窗模块结束-->


    <!--售后充值弹窗模块开始-->
    <div class="-lpy-mengban"  ng-show="showVirtualRechargWindow"></div>
    <div class="-lpy-big-alert-window w650 zindex1005" ng-show="showVirtualRechargWindow">
        <div class="-lpy-big-alert-window-title">

            <div class="fl" >{{member.strRealname}}&nbsp;&nbsp;&nbsp;售后充值</div>

            <div class="fr  close_btn" ng-click="closeVirtualRechargWindow()">x</div>
        </div>
        <div class="-lpy-alert-window-main-content ">

            <form name="virtualRechargform" ng-submit="submitVirtualRecharg()">
                <div class="h50"></div>
                <div class="center w300  " >

                    <span class="red-require">*</span> 充值金额： <input type="number" ng-model="virtualRecharg.strRechargeAmount" required/>
                </div>
                <div class="center w120">售后充值仅作服务使用</div>
                <div class="h50"></div>
                <div class="center w150">

                    <input class="small-btn small-btn-primary" type="submit" value="提交" ng-disabled="isDisableSubmit" /><a class="small-btn small-btn-default" ng-click="closeVirtualRechargWindow()">取消</a>
                </div>

            </form>
        </div>
    </div>


    <!--售后充值弹窗模块结束-->



    <!--修改积分弹窗模块开始-->
    <div class="-lpy-mengban"  ng-show="showMemberintegralInfoWindow"></div>
    <div class="-lpy-big-alert-window w650 zindex1005" ng-show="showMemberintegralInfoWindow">
        <div class="-lpy-big-alert-window-title">

            <div class="fl" >{{member.strRealname}}&nbsp;&nbsp;&nbsp;积分变更</div>

            <div class="fr  close_btn" ng-click="closeMemberintegralInfoWindow()">x</div>
        </div>
        <div class="-lpy-alert-window-main-content ">

            <form name="integralform" ng-submit="submitIntegralinfo()">
                <div class="h50"></div>
                <div class="center-content integral-content " >
                    <div>
                     操作：<select ng-model="integral.strAddOrCutFlag" ng-init="integral.strAddOrCutFlag='1'">
                            <option value="1">加</option>
                            <option value="0">减</option>
                          </select>
                     积分：<input type="number" name="strIntegralNum" ng-model="integral.strIntegralNum" required />
                    </div>
                    <div class="mt5">
                        备注：<textarea ng-model="integral.strDesc" name="strDesc" maxlength="100" required></textarea>
                    </div>
                </div>

                    <div class="fr mr50 mt50">

                        <input class="small-btn small-btn-primary" type="submit" value="确认变更" /><a class="small-btn small-btn-default" ng-click="closeMemberintegralInfoWindow()">取消</a>
                    </div>

            </form>
        </div>
    </div>


    <!--修改积分弹窗模块结束-->


    <!--详情弹窗模块开始-->
    <div class="-lpy-mengban"  ng-show="showDetailMemberInfoWindow"></div>
    <div class="-lpy-big-alert-window w650 " ng-show="showDetailMemberInfoWindow">
        <div class="-lpy-big-alert-window-title">

              <div class="fl" >新增会员信息</div>

            <div class="fr  close_btn" ng-click="closeDetailMemberInfoWindow()">x</div>
        </div>
        <div class="-lpy-alert-window-main-content ">

            <div class="center-content">
                <div class="mt10 mb10">现金／售后充值</div>
                <div>
                    <a class="small-btn small-btn-primary" ng-click="openCashRechargWindow()">现金充值</a><a class="small-btn small-btn-primary" ng-click="openvirtualRechargWindow()">售后充值</a>
                </div>
                <hr/>
                <div class="mt10 mb10">交易查询</div>
                <div>
                    <a class="small-btn small-btn-primary" ng-click="openOrderListWindow()">全部订单查询</a>
                </div>
                <hr/>
                <div class="mt10 mb10">积分</div>
                <div>
                    <a class="small-btn small-btn-primary" ng-click="updateMemberIntegral()">积分手动变更</a>
                </div>
                <hr/>
                <div class="mt10 mb10">会员</div>
                <div>
                    <a class="small-btn small-btn-primary" ng-click="showUpdateMemberWindow()">修改</a>

                    <span  ng-switch="member.intStatus">

                        <a  ng-switch-when="0" class="small-btn small-btn-primary" ng-click="updateMemberStatus(member.intStatus)">
                            激活
                        </a>
                        <a ng-switch-when="1" class="small-btn small-btn-primary" ng-click="updateMemberStatus(member.intStatus)">
                             禁用
                        </a>
                    </span>
                </div>
                <hr/>
            </div>
        </div>
    </div>


    <!--详情弹窗模块结束-->



    <!--新增 修改 弹窗模块开始-->

    <div class="-lpy-mengban"  ng-show="showEditMemberInfoWindow"></div>
    <div class="-lpy-big-alert-window w650" ng-show="showEditMemberInfoWindow">
        <div class="-lpy-big-alert-window-title">
            <div  ng-switch="isAddNewMember">
                <div class="fl" ng-switch-default>新增会员信息</div>
                <div class="fl" ng-switch-when="false">修改会员信息</div>
            </div>
            <div class="fr  close_btn" ng-click="closeEditMemberInfoWindow()">x</div>
        </div>
        <div class="-lpy-alert-window-main-content ">

            <div class="mt10 ">
                    <span class="small-span " ng-class="{'small-span-primary':nowStep==1}">基本资料</span><span class="small-span " ng-class="{'small-span-primary':nowStep==2}">详细资料</span>
              <hr>

            </div>
            <div class="-lpy-edit-staff-content">


                <form  name="member" ng-submit="submitMemberFirstinfo()">
                    <div  ng-show="nowStep==1">
                    <div class="form-container">
                        <div class=" w300 fl">

                            <div class="mt20">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：
                                <input type="text" ng-value="member.strRealname" name="strRealname"   ng-model="member.strRealname" ngTrim="true" ng-maxlength="8" required/>


                            </div>
                            <div class="mt20">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：
                                <input type="text" ng-readonly="!isAddNewMember" ng-value="member.strMobile" name="strMobile"   ng-model="member.strMobile" ngTrim="true" ng-maxlength="11" required/>


                            </div>
                            <div class="mt20">&nbsp;&nbsp;&nbsp;&nbsp; 性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：
                                <select  ng-model="member.intSex" ng-options="sex.id as sex.value for sex in sexs"></select>

                            </div>

                            <div class="mt20">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 会员级别：
                                <select ng-model="member.strLevelsid" ng-options="memberlevelsEntity.strLevelsid as memberlevelsEntity.strLevelsname for memberlevelsEntity in memberlevelsEntityList"></select>

                            </div>





                        </div>

                        <div class=" w300 fl">

                            <div class="mt20">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 身份证号：
                                <input type="text" ng-value="member.strIdcard" name="strIdcard"   ng-model="member.strIdcard" ngTrim="true" ng-maxlength="18" required/>


                            </div>

                            <div class="mt20">&nbsp;&nbsp;&nbsp;&nbsp; 年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：
                                <input type="text" ng-value="member.intAge" name="intAge"   ng-model="member.intAge" ngTrim="true" ng-maxlength="3" />


                            </div>
                            <!--<div class="mt20">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 会员卡号：-->
                                <!--<input type="text" ng-value="member.strMembercardnum" name="strMembercardnum"   ng-model="member.strMembercardnum" ngTrim="true" ng-maxlength="8" required/>-->


                            <!--</div>-->

                            <div class="mt20">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 会员状态：
                                <select  ng-model="member.intStatus" ng-options="memberstatus.id as memberstatus.value for memberstatus in memberstatusList"></select>

                            </div>



                        </div>

                        <div class="mt10 clearfix"></div>
                    </div>


                    <div class="h50"></div>
                    <div class="w100 center ">
                        <input class="fl small-btn small-btn-primary" type="submit" value="下一步"/>
                    </div>
                   </div>
                </form>



                    <form  name="member2" ng-submit="submitMemberSecondinfo()">
                        <div ng-show="nowStep==2">
                        <div class="form-container" >
                            <div class=" w300 fl">

                                <div class="mt20">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 品牌型号：
                                    <input type="text" ng-value="member2.strModelofcar" name="strModelofcar"   ng-model="member.strModelofcar" ngTrim="true" ng-maxlength="8" required/>
                                </div>
                                <div class="mt20">&nbsp;&nbsp;&nbsp;&nbsp; 颜&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;色：
                                    <input type="text" ng-value="member2.strCarcolor" name="strCarcolor"   ng-model="member.strCarcolor" ngTrim="true" ng-maxlength="8" />
                                </div>
                                <div class="mt20">&nbsp;&nbsp;&nbsp;&nbsp; 购买价格：
                                    <input type="text" ng-value="member2.strBuyprice" name="strBuyprice"   ng-model="member.strBuyprice" ngTrim="true" ng-maxlength="8" />
                                </div>
                                <div class="mt20">&nbsp;&nbsp;&nbsp;&nbsp; 购买日期：

                                    <input type="text" id="strBuydate" def-laydate  ng-value="member2.strBuydate" name="strBuydate"   ng-model="member.strBuydate" ngTrim="true"  />
                                </div>
                                <div class="mt20">&nbsp;&nbsp;&nbsp;&nbsp; 注册日期：
                                    <input type="text" id="strRegisterdate"  def-laydate  ng-value="member2.strRegisterdate" name="strRegisterdate"   ng-model="member.strRegisterdate" ngTrim="true"  />
                                </div>
                                <div class="mt20">&nbsp;&nbsp;&nbsp;&nbsp; 发证日期：
                                    <input type="text"  id="strDateofissue"   def-laydate  ng-value="member2.strDateofissue" name="strDateofissue"   ng-model="member.strDateofissue" ngTrim="true"  />
                                </div>

                            </div>

                            <div class=" w300 fl">
                                <div class="mt20">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 车牌号码：
                                    <input type="text" ng-value="member2.strCarlicense" name="strCarlicense"   ng-model="member.strCarlicense" ngTrim="true" ng-maxlength="8" required/>
                                </div>
                                <div class="mt20">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 车辆类型：
                                    <input type="text" ng-value="member2.strCartype" name="strCartype"   ng-model="member.strCartype" ngTrim="true" ng-maxlength="8" required/>
                                </div>
                                <div class="mt20">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 住&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：
                                    <input type="text" ng-value="member2.strAddress" name="strAddress"   ng-model="member.strAddress" ngTrim="true" ng-maxlength="8" required/>
                                </div>
                                <div class="mt20">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 使用性质：
                                    <input type="text" ng-value="member2.strUsenature" name="strUsenature"   ng-model="member.strUsenature" ngTrim="true" ng-maxlength="8" required/>
                                </div>
                                <div class="mt20">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 车辆识别码：
                                    <input type="text" ng-value="member2.strCaridentifycode" name="strCaridentifycode"   ng-model="member.strCaridentifycode" ngTrim="true" ng-maxlength="8" required/>
                                </div>
                                <div class="mt20">&nbsp;&nbsp;&nbsp;<span class="red-require">*</span> 发动机号：
                                    <input type="text" ng-value="member2.strEnginenumber" name="strEnginenumber"   ng-model="member.strEnginenumber" ngTrim="true" ng-maxlength="8" required/>
                                </div>



                            </div>

                            <div class="mt10 clearfix"></div>
                            <hr>
                             <h1 class="pl10">邮寄地址</h1>
                            <hr>
                            <div class=" w300 fl">
                                <div class="mt20">&nbsp;&nbsp;&nbsp;&nbsp; 省&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;份：
                                    <input type="text" ng-value="member2.strPostprovince" name="strPostprovince"   ng-model="member.strPostprovince" ngTrim="true" ng-maxlength="8" />
                                </div>
                                <div class="mt20">&nbsp;&nbsp;&nbsp;&nbsp; 区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;县：
                                    <input type="text" ng-value="member2.strPostarea" name="strPostarea"   ng-model="member.strPostarea" ngTrim="true" ng-maxlength="8" />
                                </div>

                                <div class="mt20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;详细地址：
                                    <input type="text" ng-value="member2.strPostdetailaddress" name="strPostdetailaddress"   ng-model="member.strPostdetailaddress" ngTrim="true" ng-maxlength="8" />
                                </div>

                            </div>

                            <div class=" w300 fl">
                                <div class="mt20">&nbsp;&nbsp;&nbsp;&nbsp; 城&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;市：
                                    <input type="text" ng-value="member2.strPostcity" name="strPostcity"   ng-model="member.strPostcity" ngTrim="true" ng-maxlength="8" />
                                </div>
                                <div class="mt20">&nbsp;&nbsp;&nbsp;&nbsp; 街&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;道：
                                    <input type="text" ng-value="member2.strPoststreet" name="strPoststreet"   ng-model="member.strPoststreet" ngTrim="true" ng-maxlength="8" />
                                </div>
                                <div class="mt20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编：
                                    <input type="text" ng-value="member2.strPostcode" name="strPostcode"   ng-model="member.strPostcode" ngTrim="true" ng-maxlength="8" />
                                </div>
                            </div>
                            <div class="mt10 clearfix"></div>


                            <hr>
                            <h1 class="pl10">拓展资料</h1>
                            <hr>
                            <expandlist model-data="$parent.modelData"    expand-data="expandData"  ></expandlist>
                            <div>

                                <div class="mt10 clearfix"></div>
                            </div>

                        </div>



                        <div class="h20"></div>

                        <div class="w150 center ">
                            <a class=" small-btn small-btn-primary" ng-click="backToFirstStep()" >上一步</a>   <input class=" small-btn small-btn-primary" ng-disabled="isDisableSubmit" type="submit" value="保存"/>
                        </div>
                         <div class="h20"></div>
                        </div>
                    </form>

            </div>
        </div>
    </div>








</div>